<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="http://localhost:8001/socket.io/socket.io.js"></script>
    <script src="http://192.168.0.6:8001/socket.io/socket.io.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            var socket = io.connect('http://localhost:8001');

            socket.on('message', function (data) {
                var messageNode = document.createElement('li');
                messageNode.innerText = data.name + ': ' + data.message;
                document.getElementById('messagesList').appendChild(messageNode);
            });

            document.getElementById('send').addEventListener('click', function (event) {
                socket.emit('message', {
                    name: document.getElementById('name').value,
                    message: document.getElementById('message').value
                });
                event.preventDefault();
                document.getElementById('message').value = '';
            });
        };
    </script>
</head>
<body>
<form>
    Имя: <input type="text" id="name"><br>
    Сообщение: <textarea id="message"></textarea><br>
    <button id="send">Отправить</button>
</form>
<ul id="messagesList">

</ul>

</body>
</html>